@model TransactionsViewModel

@section title {
    <form method="post" asp-controller="transactions" asp-action="index">
        <div class="row">
            <div class="col-2">
                <label class="col-form-label" asp-for="@Model.CashierName"></label>
                <input type="text" class="form-control" asp-for="@Model.CashierName"></label>
            </div>

            <div class="col-3">
                <label class="col-form-label" asp-for="@Model.StartDate"></label>
                <input type="date" class="form-control" asp-for="@Model.StartDate"></label>

            </div>

            <div class="col-3">
                <label class="col-form-label" asp-for="@Model.EndDate"></label>
                <input type="date" class="form-control" asp-for="@Model.EndDate"></label>
            </div>

            <div class="col-2">
                <div class="h-50"></div>
                <input type="submit" class="btn btn-primary w-100" value="Search">
            </div>

            <div class="col-2">
                <div class="h-50"></div>
                <input type="submit" class="btn btn-primary w-100" value="Print">
            </div>
        </div>
    </form>
}

<table class="table">
    <thead>
        <tr>
            <th>Date Time</th>
            <th>Cashier Name</th>
            <th>Product Name</th>
            <th>Qty Before</th>
            <th>Qty Sold</th>
            <th>Qty After</th>
            <th>Price</th>
            <th>Sold Amt</th>
        </tr>
    </thead>

    <tbody class="table-group-divider">
        @if (Model != null)
        {
            foreach (var transaction in Model.Transactions)
            {
                <tr>
                    <td>@transaction.TimeStamp.ToString("MM/dd hh:mm")</td>
                    <td>@transaction.CashierName</td>
                    <td>@transaction.ProductName</td>
                    <td>@transaction.BeforeQty</td>
                    <td>@transaction.SoldQty</td>
                    <td>@(transaction.BeforeQty - transaction.SoldQty)</td>
                    <td>@transaction.Price</td>
                    <td>@((transaction.SoldQty * transaction.Price).ToString("c", CultureInfo.CreateSpecificCulture("en-US")))</td>
                </tr>
            }
        }
    </tbody>

    <tfoot align="right" class="fw-bold">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Grand Total:</td>
            <td>
                @(string.Format(CultureInfo.CreateSpecificCulture("en-Us"), "{0:c2}", Model?.GrandTotal ?? 0))
            </td>
        </tr>
    </tfoot>
</table>