@model List<Category>

@section title{
    <h3>Categories</h3>
}

@* <ul> *@
    @* Hard coded data *@
    @* <li>
        <a href="/categories/edit/1">Beverage</a>
    </li>

    <li>
        <a href="/categories/edit/2">Meat</a>
    </li> *@



    @* Unordered list to show data from static repository *@

    @*
    @category.Name
        Have to use @ again
        Because HTML is used in the C# expression
        The flow of C# has been broken
    *@
    @* @foreach (var category in Model)
    {
        <li>
            @category.Name
        </li>
    } *@
@* </ul> *@

@*
Display HTML table to list our categories

Defensive programming to make sure we don't create any exception
*@
@if (Model != null && Model.Count() > 0)
{
    @* Bootstrap classes *@
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td>
                        @*
                        Edit button to redirect to categories edit page

                        @(): explicit Razor expression and can add C# expression in it
                        @: implicit Razor expression
                        *@
                        @* <a class="btn btn-link" href="@($"/categories/edit/{category.CategoryId}")">Edit</a> *@

                        @*
                        Better way to generate links is called tag helpers
                            Use tag helpers to generate a URL that can be processed by a controller's action method
                            asp-route-id: refer to the parameter `id` that asp-action uses
                        *@
                        <a class="btn btn-link" asp-controller="categories" asp-action="edit" asp-route-id="@category.CategoryId">Edit</a>
                    </td>

                    <td>
                        @*
                        Delete action paramater is called categoryId, so we use asp-route-categoryid to pass categoryId

                        `return` keyword in onclick value
                            When an onclick method returns false it causes the event's default action to be prevented
                            The default action of clicking on a submit button is to submit the form.

                            If you don't use `return`, the method doesn't return a value, so the submit action will be executed regardless of how the user answers the confirmation dialog
                        *@
                        <a class="btn btn-link" asp-controller="categories" asp-action="delete" asp-route-categoryid="@category.CategoryId" onclick="return confirmDelete();">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@*
The answer put this <a> element into above curly brace which is wrong?
Even the list is empty, we shoud be able to add category
*@
<a class="btn btn-primary" asp-controller="categories" asp-action="add">Add</a>

@section Scripts{
    <script>
        function confirmDelete(){
            return confirm("Are you sure you want to delete this category?");
        }
    </script>
}